body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #808396;
  font-weight: 400;
}
.floatAllMiddle {
  margin: 0 auto;
}
#logoCircle {
  position: relative;
  top: 30px;
}
canvas {
  border: 2px solid #eee;
  position: relative;
  display: inline-block;
  visibility: visible;
}
#canvasContainer {
  display: inline-block;
}
.active {
  color: #46b1f9;
  background: rgba(70, 177, 249, 0.2);
}
.layerName {
  display: inline-block;
}
.edit {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-image: url(../images/edit-01.png);
  background-size: 20px;
}
.editActive {
  background-image: url(../images/edit-02.png);
}
.styleControls {
  background: rgba(70, 177, 249, 0.2);
  width: 300px;
  display: inline-block;
  height: 100vh;
  vertical-align: top;
  text-align: center;
}
#gridControl div {
  padding: 5px 0;
  width: 49%;
  display: inline-block;
  border-bottom: 1px dashed rgba(128, 131, 150, 0.6);
}
#slider1 input#shapeSize {
  color: blue;
}
#styleControl div {
  width: 50px;
  height: 30px;
  display: inline-block;
}
.allign {
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px dashed rgba(128, 131, 150, 0.6);
}
div.styleMode {
  padding: 5px 0;
}
.layer {
  padding: 10px 0;
  border-bottom: 1px dashed rgba(128, 131, 150, 0.6);
}
.create {
  margin: 0;
  position: relative;
  display: inline-block;
  background: blue;
  width: 292px;
  height: 1000px;
  vertical-align: top;
}
.colorpicker {
  position: absolute;
  left: 0px;
}
#shapeSize-range,
#gridSize-range,
#xOffset-range,
#yOffset-range,
#opacity-range {
  width: 200px;
  height: 19px;
  background: #808396;
  border: none;
  border-radius: 10px;
}
#gridSize-range .ui-slider-range,
#shapeSize-range .ui-slider-range,
#xOffset-range .ui-slider-range,
#yOffset-range .ui-slider-range,
#opacity-range .ui-slider-range {
  background: #46b1f9;
  border-radius: 10px;
}
#gridSize-range .ui-slider-handle,
#shapeSize-range .ui-slider-handle,
#xOffset-range .ui-slider-handle,
#yOffset-range .ui-slider-handle,
#opacity-range .ui-slider-handle {
  margin-top: 3px;
  background: #46b1f9;
  border: 2px solid #3789db;
  border-radius: 15px;
}
#gridSize-range .ui-state-active,
#shapeSize-range .ui-state-active,
#xOffset-range .ui-state-active,
#yOffset-range .ui-state-active,
#opacity-range .ui-state-active {
  background: #46b1f9;
  border: 2px solid #fff;
}
#colourTextBox {
  margin: 20px 0;
  border: 2px solid #c4c6d6;
  padding: 6px 10px;
  width: 180px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#textBox {
  margin: 50px 0 20px 0;
  padding: 6px 10px;
  width: 180px;
  border-radius: 10px;
  border: 2px solid #c4c6d6;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #808396;
}
#newLayer {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
}
.plusIcon {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding: 0 1px 3px 1px;
  border: 2px solid #808396;
  border-radius: 5px;
  background: #c4c6d6;
}
#newLayer:hover {
  background: rgba(70, 177, 249, 0.2);
}
