@lightCyan: #46b1f9;
@darkCyan: #3789db;
@lightFuchsia: #a853ea;
@darkFuchsia: #8737d3;
@lightBlue: #2d3ae4;
@darkBlue: #0a1fc4;
@lightGrey: #c4c6d6;
@darkGrey: #808396;
@otherBlue: #D9EFFF;

body{
	background: @darkGrey;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: @darkGrey;
	font-weight: 400;
}

.floatAllMiddle{
	border: 2px solid blue;
	margin: 0 auto;
	display: inline-block;
}

#logoCircle{
	position: relative;
	top: 30px;
}

canvas{
	margin: 0 0 0 -7px;
	border: 2px solid #eee;
}

#save{
	border-radius: 20px; 
	width: 100px;
	background: @lightCyan;
	padding: 5px;
	color: white;
	margin: 10px auto;
}
#save:hover{
	background: @darkCyan;
}

#clear{
	border-radius: 20px; 
	width: 100px;
	background: @darkGrey;
	padding: 5px;
	color: white;
	margin: 0 auto;
}

#bottomButtons{
	width: 250px;
	position: absolute;
	bottom: 20px;
}

#canvasContainer{
	display: inline-block;
}

.active{
	color: @lightCyan;
	background: fade(@lightCyan, 20%);
}

.layerName{
	display: inline-block;
	padding: 0 10px;
}
.edit{
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	width: 18px;
	height: 18px;
	// background: fade(blue, 20%);
	background-image: url(../images/edit-01.png);
	background-size: 20px;
}

.editActive{
	background-image: url(../images/edit-02.png);
}

.styleControls{
	background: @otherBlue;
	// background: fade(@lightCyan, 20%);
	width: 250px;
	display: inline-block;
	// height: 800px;
	height: 100vh;
	vertical-align: top;
	text-align: center;
}

#gridControl div{
	padding: 5px 0;
	width: 49%;
	display: inline-block;
	border-bottom: 1px dashed fade(@darkGrey, 60%);
}

#imageContainer{
	background: white;
}

#slider1 input#shapeSize{
	color: blue;
}

#styleControl div{
	width: 32px;
	height: 30px;
	display: inline-block;
}

#fontMenu{
	margin: 0;
	margin-left: -45px;
	text-decoration: none;
	list-style: none;
	// vertical-align: center;
	border-top: 1px dashed fade(@darkGrey, 60%);
	border-bottom: 1px dashed fade(@darkGrey, 60%);
}

#fontMenu img{
	height: 30px;
	vertical-align: top;
	line-height: 20px;
	padding-top: 5px;
	display: inline-block;
	text-align: center;
	font-size: 24pt;
}

#sansSerif{
	font-family: "Helvetica", sans-serif;
}
#serif{
	font-family: "Georgia", serif;
}
#monospace{
	font-family: "monospace", monospace;
}
#brushScript{
	font-family: "brush script", cursive;
}

.allign{
	width: 250px;
	margin: 0 auto;
	border-bottom: 1px dashed fade(@darkGrey, 60%);
}

div.styleMode{
	padding: 2px 0;
}

.layer{
	padding: 5px 0;
	border-bottom: 1px dashed fade(@darkGrey, 60%);
}

.create{
	margin: 0;
	position: relative;	
	display: inline-block;
	background: blue;
	width: 292px;
	height: 1000px;
	vertical-align: top;
}

.colorpicker{
	position: absolute;
	left: 0px;
}

#shapeSize-range,
#gridSize-range,
#xOffset-range, 
#yOffset-range,
#opacity-range{
// .slider-range{
	width: 200px;
	height: 19px;
	background: #808396;
	border: none;
	border-radius: 10px;
}

#slider1 p, 
#slider2 p, 
#slider3 p, 
#slider4 p,
#slider5 p{
	margin-bottom: 2px;
}

#gridSize-range .ui-slider-range,
#shapeSize-range .ui-slider-range,
#xOffset-range .ui-slider-range,
#yOffset-range .ui-slider-range,
#opacity-range .ui-slider-range{ 
	background: @lightCyan; 
	border-radius: 10px;
}

#gridSize-range .ui-slider-handle,
#shapeSize-range .ui-slider-handle,
#xOffset-range .ui-slider-handle,
#yOffset-range .ui-slider-handle,
#opacity-range .ui-slider-handle{ 
	margin-top: 3px;
	background: @lightCyan;
	border: 2px solid @darkCyan; 
	border-radius: 15px;
}

#gridSize-range .ui-state-active,
#shapeSize-range .ui-state-active,
#xOffset-range .ui-state-active,
#yOffset-range .ui-state-active,
#opacity-range .ui-state-active{ 
	background: @lightCyan;
	border: 2px solid #fff;
}

#colourTextBox{
	margin: 20px 0;
	border: 2px solid @lightGrey;
	padding: 6px 10px;
	width: 180px;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#textBox{
	margin: 50px 0 20px 0;
	padding: 6px 10px;
	width: 180px;
	border-radius: 10px;
	border: 2px solid @lightGrey;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: @darkGrey;
}

#newLayer{
	display: inline-block;
	vertical-align: middle;
	padding: 5px 0;
}

.plusIcon{
	display: inline-block;
	// font-size: 14pt;
	width: 16px;
	height: 15px;
	padding: 0 1px 3px 1px;
	border: 2px solid @darkGrey;
	border-radius: 5px;
	background: @lightGrey;
}

#newLayer:hover{
	background: fade(@lightCyan, 20%);
}

#lightBox{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	background: fade(@darkBlue, 80%);
	z-index: 50;
}

#imageContainer{
	position: absolute;
	width: 800px;
	height: 800px;
	background-size: white;
	border: 2px solid @lightGrey;
	margin-top: 100px;
	left: 50%;
	margin-left: -400px;
}

@media (max-width: 600px) {
	
}