body{
	margin: 0;
}

canvas{
	border: 2px solid #ddd;
	position: relative;
	display: inline-block;
	visibility: visible;
}

.create{
	margin: 0;
	position: relative;	
	display: inline-block;
	background: blue;
	width: 292px;
	height: 1000px;
	vertical-align: top;
}

.colorpicker{
	position: absolute;
	left: 0px;
}
