body{
	margin: 0;
	padding: 0;
}

canvas{
	margin: 0 auto;
	border: 2px solid #eee;
	position: relative;
	display: inline-block;
	visibility: visible;
}

#slider1 input#shapeSize{
	color: blue;
}

.create{
	margin: 0;
	position: relative;	
	display: inline-block;
	background: blue;
	width: 292px;
	height: 1000px;
	vertical-align: top;
}

.colorpicker{
	position: absolute;
	left: 0px;
}


#shapeSize-range,
#gridSize-range{
	width: 200px;
	height: 19px;
	background: #eee;
	border: none;
}

#gridSize-range .ui-slider-range,
#shapeSize-range .ui-slider-range{ 
	background: #A30A9E; 
}

#gridSize-range .ui-slider-handle,
#shapeSize-range .ui-slider-handle{ 
	margin-top: 4px;
	border: 1px solid #A30A9E; 
}

@media (max-width: 600px) {
	
}